<h1>TDTWeb</h1>
<p>Esta página fue creada por Fernando Romera Ferrio con el objetivo de <br/>
	organizar una competición entre amigos basada en una serie de torneos de PES.<br/>
	Solo los participantes del torneo podrán registrarse.<br/>
	Los usuarios registrados podrán:<br/>
		- Consultar la base de datos de jugadores.<br/>
		- Comprar jugadores libres.<br/>
		- Ofertar por jugadores de otros participantes.<br/>
		- Vender sus jugadores dejandolos libres o aceptando una oferta de otro participante.<br/>
		- Establecer las dorsales de los jugadores.<br/>
		- Armar la alineación del equipo.<br/>
		- Consultar las estadísticas de los torneos.<br/>
		- Comunicarse con el resto de los participantes.<br/>
		- Recibir noticias de los ultimos fichajes.</p>
