<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
      <div class="span8">
      <h3>Mensajes</h3>
      <%= render 'shared/feed' %>
    </div>
    </aside>
    
  </div>  
<% else %>
	<form class="sign-in" id="login_form" action="/sessions" method="post" >
		<table cellspacing="0" align="right">
			<tr>
				<td>
					<label for="session_email">Correo electrónico: </label>
				</td>
				<td>
					<label for="session_password">Contraseña: </label>
				</td>
			</tr>
			<tr valign="bottom">
				<td>
					<input size="30" class="input-login" valign="bottom" type="text" class="inputtext" name="session[email]" id="session_email" value="" tabindex="1" />
				</td>
				<td><input type="password" class="inputtext" name="session[password]" id="session_password" tabindex="2" size="30"  />
				</td>
				<td>
					<input class="btn btn-small btn-primary" name="commit" type="submit" 
       value="Entrar" />
				</td>
			</tr>
		</table>
	</form>

<div class="center hero-unit">
	<br/>	
	<h1>Torneo Dream Team </h1>
	<h2>Bienvenido al sitio oficial del Torneo Dream Team</h2>
	<%= link_to " Registrate ", signup_path, class: "btn btn-large btn-primary" %>
</div>
<% end %>
