<%= provide(:title, 'Registro') %>
<% provide(:button_name, "Crear mi cuenta") %> 
<h1>Registrate</h1>

<div class="row">
  <div class="span6 offset3">
      <%= render 'layouts/user_form' %>
  </div>
</div>