// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$green-color: #00e000;
.HeadPlayerTable
{

border: 5px solid grey;
width: 450px;
height: 100px;
margin-left:25px;
text-align:center;
vertical-align:middle;
background-color:black;
color:white;
margin-top:20px;


  .PlayerName{ 
    font-size: 20px;
   
  }
  
  .PlayerWhiteRating{
    font-size: 25px;
    color:white;
  }
  
  .PlayerYellowRating{
    font-size: 25px;
     color:yellow;
  }
  .PlayerOrangeRating{
    font-size: 25px;
     color:orange;
  }
  .PlayerRedRating{
    font-size: 25px;
    color:red;
  }
  
  .PlayerGreenRating{
    font-size: 25px;
    color: $green-color;
  }
    
  .PlayerSecRating{
    font-size: 25px;
  }
  .PlayerPosition{
    font-size: 13px;
  }
  .PlayerPrice{
    font-size: 15px;
  }
  .PlayerSecRatingName{
    font-size: 10px;
    vertical-align:top;
  }
  .PlayerNacAgeClub{
    font-size: 15px;
  }
}
.StatPlayerTable{
  border: 5px solid grey;
width: 450px;
height: 400px;
margin-left:25px;
text-align:center;
vertical-align:middle;
background-color:black;
color:white;
padding-right:15px;
font-size: 15px;
margin-top:-5px;
  td{
    padding-left:15px;
  }
  .WhiteStatNumber{
    color:white;
    text-align:right;
    padding-right:15px;
  }
  .GreenStatNumber{
    color:$green-color;
    text-align:right;
    padding-right:15px;
  }
  .YellowStatNumber{
    color:yellow;
    text-align:right;
    padding-right:15px;
  }  
  .OrangeStatNumber{
    color:orange;
    text-align:right;
    padding-right:15px;
  }
  .RedStatNumber{
    color:red;
    text-align:right;
    padding-right:15px;
  }
}
.PosPlayerTable{
   border: 5px solid grey;
width: 450px;
height: 66px;
margin-left:25px;
text-align:center;
background-color:black;
color:white;
font-size: 15px;
margin-top:-5px;
 td{
   vertical-align:bottom;
 }
  .playerFeet{
    vertical-align:middle;
    text-align:center;
    padding-left:6px;
    padding-right:6px;
  }
}

.PlayerContaint{
  align:center;
  margin-left: auto;
  margin-right: auto;
  form input{
    font-size: 18px;
    padding: 10px;
  }
  .PlayerButtons{
    padding-top: 40px;
    vertical-align: top;
 
    
  }
}
#bid_description{
        height: 120px;
      }
#bid_form{
      width: 50px;
      
    }
 