// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$green-color: #00e000;
.HeadPlayerTable
{

border: 5px solid grey;
width: 450px;
height: 100px;
margin-left:25px;
text-align:center;
vertical-align:middle;
background-color:black;
color:white;
margin-top:20px;


  .PlayerName{ 
    font-size: 30px;
   
  }
  
  .PlayerWhiteRating{
    font-size: 25px;
    color:white;
  }
  
  .PlayerYellowRating{
    font-size: 25px;
     color:yellow;
  }
  .PlayerOrangeRating{
    font-size: 25px;
     color:orange;
  }
  .PlayerRedRating{
    font-size: 25px;
    color:red;
  }
  
  .PlayerGreenRating{
    font-size: 25px;
    color: $green-color;
  }
    
  .PlayerSecRating{
    font-size: 25px;
  }
  .PlayerPosition{
    font-size: 13px;
  }
  .PlayerPrice{
    font-size: 22px;
  }
  .PlayerSecRatingName{
    font-size: 10px;
    vertical-align:top;
  }
  .PlayerNacAgeClub{
    font-size: 15px;
  }
}

.CombinedStatPlayerTable{
border: 5px solid grey;
width: 450px;
height: 250px;
margin-left:25px;
text-align:center;
vertical-align:middle;
background-color:black;
color:white;
padding-right:15px;
font-size: 15px;
margin-top:-5px;
  td{
    padding-left:15px;
  }
  .WhiteStatNumber{
    color:white;
    text-align:right;
    padding-right:15px;
  }
  .GreenStatNumber{
    color:$green-color;
    text-align:right;
    padding-right:15px;
  }
  .YellowStatNumber{
    color:yellow;
    text-align:right;
    padding-right:15px;
  }  
  .OrangeStatNumber{
    color:orange;
    text-align:right;
    padding-right:15px;
  }
  .RedStatNumber{
    color:red;
    text-align:right;
    padding-right:15px;
  }
}
.StatPlayerTable{
border: 5px solid grey;
width: 450px;
height: 333px;
margin-left:25px;
text-align:center;
vertical-align:middle;
background-color:black;
color:white;
padding-right:15px;
font-size: 15px;
margin-top:-5px;
  td{
    padding-left:15px;
  }
  .WhiteStatNumber{
    color:white;
    text-align:right;
    padding-right:15px;
  }
  .GreenStatNumber{
    color:$green-color;
    text-align:right;
    padding-right:15px;
  }
  .YellowStatNumber{
    color:yellow;
    text-align:right;
    padding-right:15px;
  }  
  .OrangeStatNumber{
    color:orange;
    text-align:right;
    padding-right:15px;
  }
  .RedStatNumber{
    color:red;
    text-align:right;
    padding-right:15px;
  }
}
.PosPlayerTable{

margin-left:auto;
margin-right:auto;
background-image:url('posField.png');
background-size:120px 180px;
}
#bid_description{
        height: 120px;
      }
#bid_form{
      width: 50px;
      
    }
#buscarPosiciones{
  h3{
    margin-bottom:15px;
  }
  #modoDeBusquedaPos{
    margin: 20px;
    text-align: center;
    label{
      display: inline;
    }
    input{
      margin-left: 20px;
    }
  }
  #posicionesCheckBox{
    margin-top: 10px;
    margin-left: 20px;
    div{
      div{
        display: inline;
        margin: 5px;
        padding: 0;
        input{
        width: 49px;
        }
      }
    }
  }
}
#busquedaEdad{
  div{
    display:inline;
    margin-left: 30px;
    label{
    display:inline;
  }
  input{
    display:inline;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
  }
  
  }
  
  
}
#busquedaRating{
  div{
    display:inline;
    margin-left: 30px;
    label{
    display:inline;
  }
  input{
    display:inline;
    margin-left: 10px;
    margin-right: 10px;
    width: 30px;
  }
  }
}
#playersList{
  tr{
    th{
      width: auto;
    padding-right: 30px;
    }
    td{
    width: auto;
    padding-right: 30px;
    text-align:center;
  }
  }
  thead{tr{background-color: #D0D0D0;}}
   tbody{
    tr:nth-child(even) {
    background-color: #F0F0F0;
}
    tr:nth-child(odd) {
    background-color: #E0E0E0;
}
}
}
#ordenJugadores{
  li{
    display: inline;
    padding-left:10px;
    
    p{
       display: inline;
       padding-right: 10px;
    }
    input{
       display: inline;
    }
  }
}
.PlayerButtons{
  padding-top:30px;
  vertical-align: top;
}
